{% extends 'base.html' %}
{% block content%}
<div class="container">
    {% for post in post_list %}
            <div class="card m-3 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h1>{{post.title}}</h1>
                    </div>
                    <p class="card-text ">
                        {{post.content | slice:"500"}}...
                    </p>
                    
                    <div class="d-flex justify-content-between">
                        <span class="card-text">Author: {{post.author | title}}</span>
                        <a class="btn btn-info btn-xs btn-block text-light" href="{% url 'blog_view' post.slug %}">
                            read more
                        </a>
                    </div>
                </div>
                </div>
                {% endfor%}
</div>

{% endblock content%}
