{%extends 'base.html' %}
{%block content%}


<div class=" d-flex align-items-center justify-content-center vh-100 ">
    <form action="{% url 'supergeo_view' %}" method="post" class="text-center col-5">
        {%csrf_token%}
        <h4 class="text-secondary"> Please Upload your CSV FILE. the values containing addreses should be in a column
            named <span class="fst-italic">Addreess</span>
            or <span class="fst-italic">address</span>.</h4>
        <input type="file" name="file" class="form-control w-100 " />
        <input class="btn btn-info w-100 mt-3 text-light" type="submit" value="Submit">
    </form>

</div>
{%endblock content %}